.navigator {
    padding: 25px;
    background-color: rgb(75, 71, 71);
    display: flex;
    justify-content: space-evenly;
}

.nav__icon {
    padding: 25px;
}

.nav__icon>img {
    width: 300px;
    height: 300px;
}