.app {
}

.app__body {
    background-image: url('./bc.jpg');
    justify-content: center;
    justify-content: space-evenly;
}

.header {
    background-color: black;
    color: rgb(108, 199, 235);
    display: flex;
    justify-content: center;
    padding: 25px;
    padding-bottom: 15px;
}