.app {
}

.app__body {
    background-image: url('./bc.jpg');
    background-attachment: fixed;
    justify-content: center;
    justify-content: space-evenly;
}
app__body > {

}


.header {
    background-color: black;
    color: rgb(108, 199, 235);
    display: flex;
    justify-content: center;
    padding: 25px;
    padding-bottom: 15px;
}